@import '../../common/styles/mixins';
@import '../../common/styles/variables';

.box_arrow {
  @include flex(row, flex-start, center);

  .arrow {
    width: 20px;
    height: 16px;
  }

  .span_title {
    @include text(25px, 18px, 500);
    color: $extraInterfaceColor_1;
  }
}

.container {
  @include flex(column, center, center);
  height: 650px;

  .title {
    @include text(49px, 36px, 700);
    color: $basicColor_5;
  }

  .form {
    @include flex(column, center, flex-start);
    width: 430px;
    height: 342px;
    margin-top: 40px;

    .form_container {
      @include flex(column, center, flex-start);

      .input {
        padding: 0 18px;
        width: 394px;
        height: 56px;
        background-color: $extraInterfaceColor_4;
        border-radius: 5px;
        border: 1px solid $extraInterfaceColor_4;

        &:hover {
          border: 1px solid $basicColor_1;
        }
      }

      .checkbox {

      }

      .checkbox_label {
        @include text(22px, 16px, 500);
        color: $extraInterfaceColor_2;
      }

      .button {
        @include flex(row, center, center);
        width: 432px;
        height: 58px;
        border: none;
        border-radius: 5px;
        background-color: $basicColor_1;
        cursor: pointer;

        .button_title {
          @include text(25px, 18px, 700);
          letter-spacing: 0.01em;
          color: $basicColor_6;
        }

        &:hover {
          background-color: #01B8D5;
        }

        &:active {
          background-color: #01BEDB;
        }
      }

      .box_link {
        margin: 0 auto;

        .link {
          @include text(22px, 16px, 500);
          letter-spacing: 0.01em;
          text-decoration-line: underline;
          color: $basicColor_1;

        }
      }

      .box_link_auth {
        @include flex(row, center, center);
        width: 430px;
        height: 59px;
        border: 1px solid $extraInterfaceColor_5;
        border-radius: 5px;
        @include text(19px, 14px, 500);
        text-decoration-line: underline;
        color: $basicColor_4;

        &:hover {
          border: 1px solid $basicColor_1;
          color: $basicColor_1;
          cursor: pointer;
        }
      }

      .question {
        margin: 0 auto;
      }
    }
  }
}

