@import '../../common/styles/variables';

.container {
display: flex;
  justify-content: space-between;

  .logo {
    width: 170px;
    height: 40px;
/*    position: absolute;*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .span {
    cursor: pointer;
  }
}
