$basicColor_1: #009CB4;
$basicColor_2: #95AE3C;
$basicColor_3: #487538;
$basicColor_4: #4D4D4F;
$basicColor_5: #231F20;
$basicColor_6: #FFFFFF;

$extraColor_1: #D2D832;
$extraColor_2: #FAB42A;
$extraColor_3: #E0371F;
$extraColor_4: #00B347;
$extraColor_5: #C6C6C6;

$extraInterfaceColor_1: #676A71;
$extraInterfaceColor_2: #A8AAAE;
$extraInterfaceColor_3: #F9F9FB;
$extraInterfaceColor_4: #F6F6F9;
$extraInterfaceColor_5: #EDEDF4;
$extraInterfaceColor_6: #FBFBFB;
