@import '../common/styles/mixins';
@import '../common/styles/variables';

/** {
  border: 1px solid red;
}*/
.app {
  width: 1400px;
  background-color: $basicColor_6;
  margin: 0 auto;
  height: 100vh;

  .box {
/*    @include flex(column, center, center);*/
/*    margin: 0 auto;
    width: 1170px;*/
    height: 100%;
  }

  .header {
  }
}